input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
}

select {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 1px;
    background-color: #f1f1f1;
}

input[type="submit"] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: darkgreen;
}

body {
    font-size: 19px;
}

table {
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
}

tr {
    border-bottom: 1px solid #cbcbcb;
}

th,
td {
    border: none;
    height: 30px;
    padding: 2px;
}

tr:hover {
    background: #F5F5F5;
}

.btn-edit {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.btn-delete {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}